<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <h1>Country Info</h1>
    <h3><%= country %></h3>
    <p>Capital: <%= capital %></p>
    <p>Population: <%= population %></p>
    <p>Area: <%= area %></p>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>